body {  
    background: rgb(228, 192, 192);
    margin-left: 200px;
    margin-right: 200px;
}
header{
    margin-top: 100px;
}
h1{
    color:red;
    font-family: fantasy;
}
h2 {
    color:green;
    font-family: fantasy;
}
p {
    font-size: 18px;
}
.img_padrao {
    margin-bottom: 20px;
}